# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Env
.env
.env.local
.env.*.local

# DB
prisma/*.db
prisma/*.db-journal

# Uploads (user-uploaded images)
public/uploads/*
!public/uploads/.gitkeep

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
